/* From Uiverse.io by 1osm */ 
.LoadingContainer{
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 100%;
 }
 


.UserContainer{
  display: inline-flex;
  margin-top: 13px;
  width: -webkit-fill-available
}
.Usericon {
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .ContentList{
    display: flex;
    flex-direction: column;
    overflow: hidden; /* はみ出しを隠す */
    background-color: beige;
  }
.top{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 50px;
   width: 300px; /* 親要素の幅に合わせる */
   background-color: #c0c0c0;
   border-bottom: 2px solid #000000;
  }
.bottom{
   height: 50px;
   width: 100%; /* 親要素の幅に合わせる */
   background-color: #c0c0c0;
  }



.UserName {
  background-color: #414141;
  width: 60px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-35px);
}



/*______Social Media______*/

.social-media{
  display: flex;
  justify-content: space-around;
}
.social-media img{
  border-radius: 50%;
}

.social-media :link {
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}


.social-media :link img {
  transform: translatex(30px) translateY(5px);
  width: 40px;  /* SVGの幅を40pxに拡大 */
  height: 40px; /* SVGの高さを40pxに拡大 */
}

